version: '3.8'

services:
  payment-api:
    build: .
    container_name: payment-order-container
    ports:
      - "8080:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=prod
      - JAVA_OPTS=-Xmx512m -Xms256m
    networks:
      - payment-network

networks:
  payment-network:
    driver: bridge